<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper jf-margin-left-no">

    <!-- Main content -->
    <section class="content jf-padding-left-no jf-padding-right-no">

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">查询</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
                                  <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">分类</label>
                      <div class="col-sm-8">
                        <select v-model="searchTopic.categoryId" class="form-control jf-form-radius">
                          <option></option>
                          <option :value="category.id" v-for="category in categoryList" >{{category.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-4 control-label">标题</label>

                      <div class="col-sm-8">
                        <input type="text" class="form-control jf-form-radius" placeholder="标题" name="title" v-model="searchTopic.title">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                  </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-info pull-right" @click="list">查询</button>
            <button type="button" class="btn btn-default pull-right jf-margin-space" @click="reset">重置</button>
          </div>
          <!-- /.box-footer -->
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModule" @click="init">新增</button>
        <button type="button" class="btn btn-default" @click="dels()">删除</button>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box box-warning">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th><input type="checkbox" id="selectAll" class="icheckbox_square-blue" @click="selectAll"/></th>
                        <th>标题</th>
                        <th>分类</th>
                        <th>浏览量</th>
                        <th>点赞数</th>
                        <th>评论数</th>
                        <th>创建时间</th>
                        <th>创建用户</th>
                        <th>是否推荐</th>
                        <th>是否启用</th>
                    <th>操作</th>
                  </tr>
                  <tr v-for="entity in topicList">
                    <td><input type="checkbox" name="id" class="icheckbox_square-blue" :value="entity.id" v-model="ids"/></td>
                        <td>{{entity.title}}</td>
                        <td>{{entity.categoryName}}</td>
                        <td>{{entity.visitedNumber}}</td>
                        <td>{{entity.supportedNumber}}</td>
                        <td>{{entity.commentedNumber}}</td>
                        <td>{{entity.createdTime | formatting}}</td>
                        <td>{{entity.nickName}}</td>
                        <td>{{entity.isRecommend == 0 ? "否":"是"}}</td>
                        <td>{{entity.isEnabled == 0 ? "禁用":"启用"}}</td>
                    <td>
                      <i class="fa fa-file-text-o jf-cursor-point jf-margin-space" title="详情" data-toggle="modal" data-target="#detailModule" @click="detail(entity.id)"></i>
                      <i class="glyphicon glyphicon-edit jf-cursor-point jf-margin-space" title="编辑" data-toggle="modal" data-target="#editModule" @click="detail(entity.id)"></i>
                      <i class="glyphicon glyphicon-trash jf-cursor-point" title="删除" @click="del(entity.id)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="javascript:" title="首页" @click="switchPage(1)">&laquo;</a></li>
                <li><a href="javascript:" title="上一页" @click="prePage()">&lsaquo;</a></li>
                <li v-if="page.currentPage-page.step > 0"><a href="javascript:">...</a></li>
                <li v-for="p in page.numbers" v-if="p<page.currentPage && p > page.currentPage-page.step" @click="switchPage(p)"><a href="javascript:">{{p}}</a></li>
                <li class="active"><a href="javascript:">{{page.currentPage}}</a></li>
                <li v-for="p in page.numbers" v-if="p>page.currentPage && p < page.currentPage+page.step" @click="switchPage(p)"><a href="javascript:">{{p}}</a></li>
                <li v-if="page.currentPage+page.step < page.totalPage+1"><a href="javascript:">...</a></li>
                <li><a href="javascript:" title="下一页" @click="nextPage()">&rsaquo;</a></li>
                <li><a href="javascript:" title="尾页" @click="switchPage(page.totalPage)">&raquo;</a></li>
              </ul>
              <div class="input-group input-group-sm pull-right col-xs-1 jf-margin-space">
                <span class="input-group-btn"><button type="button" class="btn btn-default">每页</button></span>
                <select class="form-control jf-page-select-width jf-page-border" v-model="page.pageSize" @change="list">
                  <option v-for="item in page.sizes" :value="item">{{item}}</option>
                </select>
                <span class="input-group-btn"><button type="button" class="btn btn-default jf-page-border">条/共{{page.total}}条 第</button></span>
                <input type="number" class="form-control jf-page-info-width" v-model="page.currentPage" @blur="list" min="0">
                <span class="input-group-btn"><button type="button" class="btn btn-default">页</button></span>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<!-- 编辑模态框 -->
<div class="modal fade" id="editModule">
  <div class="modal-dialog">
    <div class="box box-primary">
      <div class="modal-content jf-modal-lr-radius">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">新增/编辑资讯</h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped"  width="800px">
            <tbody>
                  <tr>
                    <td>标题</td>
                    <td><input name="title" v-model="topic.title" class="form-control jf-form-radius" placeholder="标题"/></td>
                  </tr>
                  <tr>
                    <td>分类</td>
                    <td>
                        <select name="categoryCode" v-model="topic.categoryCode" class="form-control jf-form-radius">
                          <option :value="categoryValue(category)" v-for="category in categoryList" >{{category.name}}</option>
                        </select>
                    </td>
                  </tr>
                  <tr>
                    <td>是否启用</td>
                    <td>
                      <input type="radio" v-model="topic.isEnabled" value="1"/>是
                      <input type="radio" v-model="topic.isEnabled" value="0"/>否
                    </td>
                  </tr>
                  <tr>
                    <td>是否推荐</td>
                    <td>
                      <input type="radio" v-model="topic.isRecommend" value="1"/>是
                      <input type="radio" v-model="topic.isRecommend" value="0"/>否
                    </td>
                  </tr>
                  <tr>
                    <td>浏览量</td>
                    <td><input type="number" min="0" name="visitedNumber" v-model="topic.visitedNumber" class="form-control jf-form-radius" placeholder="浏览量"/></td>
                  </tr>
                  <tr>
                    <td>点赞数</td>
                    <td><input type="number" min="0" name="supportedNumber" v-model="topic.supportedNumber" class="form-control jf-form-radius" placeholder="点赞数"/></td>
                  </tr>
                  <tr>
                    <td>评论数</td>
                    <td><input type="number" min="0" name="commentedNumber" v-model="topic.commentedNumber" class="form-control jf-form-radius" placeholder="评论数"/></td>
                  </tr>
                  <tr>
                    <td>简介</td>
                    <td><textarea name="summary" v-model="topic.summary" class="form-control jf-form-radius" placeholder="简介"></textarea></td>
                  </tr>
                  <tr>
                    <td>封面图</td>
                    <td><input name="coverFlag" v-model="topic.coverFlag" class="form-control jf-form-radius" placeholder="封面图"/></td>
                  </tr>
                  <tr>
                    <td colspan="2"><textarea name="content" v-model="topic.content" class="form-control jf-form-radius" placeholder="内容">aabbcc</textarea></td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

          <button type="button" class="btn btn-primary" @click="save">保存</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- 详情模态框 -->
<div class="modal fade" id="detailModule">
  <div class="modal-dialog">
    <div class="box box-primary">
      <div class="modal-content jf-modal-lr-radius">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <i class='fa fa-fw fa-star' title='推荐' v-if="topic.isRecommend == 1"></i>&nbsp;&nbsp;
            {{topic.title}}
            <font color='red' v-if="topic.isEnabled == 0">--已禁用</font>
          </h4>
        </div>
        <div class="modal-body">
          <div style="text-align:center">
            分类：{{topic.categoryName}}&nbsp;&nbsp;
            <i class="fa fa-fw fa-search" title="浏览"></i>{{topic.visitedNumber}}&nbsp;&nbsp;
            <i class="fa fa-fw fa-thumbs-o-up" title="点赞"></i>{{topic.supportedNumber}}&nbsp;&nbsp;
            <i class="fa fa-fw fa-commenting-o" title="评论"></i>{{topic.commentedNumber}}&nbsp;&nbsp;
          </div>
          <div style="text-align:right">
            发布：{{topic.createdTime | formatting}}&nbsp;&nbsp;by&nbsp;&nbsp;{{topic.createdUserNickName}}
          </div>
          <div style="text-align:right">
            更新：{{topic.updatedTime | formatting}}&nbsp;&nbsp;by&nbsp;&nbsp;{{topic.updatedUserNickName}}
          </div>
          <table class="table table-bordered table-striped"  width="800px">
            <tbody>
                  <tr>
                    <td>简介</td>
                    <td>{{topic.summary}}</td>
                  </tr>
                  <tr>
                    <td>封面图</td>
                    <td>{{topic.isRecommend == 0 ? "否":"是"}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><span v-html="topic.content"></span></td>
                  </tr>
            </tbody>   
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</body>
